div {
    border: 1px solid black;
}

main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-gap: 2px;
    width: 487px;
    height: 485px;
    border: 5px solid black;
    padding: 2px;
}

.row3 {
    grid-row: span 3;
}

.row2 {
    grid-row: span 2;
}

.row4 {
    grid-row: span 4;
}

.col2 {
    grid-column: span 2;
}

.col3 {
    grid-column: span 3;
}

.col4 {
    grid-column: span 4;
}

.none {
    border: transparent;
}