body {
    background-image: url(https://i.imgur.com/BHPUd0d.jpg);
    background-size: cover;
}

h1 {
    margin: 0;
    padding: 0;
    color: white;
    position: absolute;
    font-size: 80px;
    top: 25%;
    left: 18.5%;
    transform: translate(-50%, -50%);
}

span {
    background-color: white;
    color: rgb(105, 19, 185);
    padding-left: 30px;
}

p {
    color: white;
    position: absolute;
    top: 33%;
    left: 21%;
    transform: translate(-50%, -50%);
    font-size: 33px;
}

#left {
    position: fixed;
    color: rgb(4, 4, 100);
    background-color: white;
    font-size: 37px;
    top: 50%;
    left: 3%;
    font-weight: 900;
    padding: 0 9px 0 9px;
}

#right {
    position: fixed;
    color: rgb(4, 4, 100);
    background-color: white;
    font-size: 37px;
    top: 50%;
    right: 3%;
    font-weight: 900;
    padding: 0 9px 0 9px;
    text-align: center;
}

#footer {
    color: rgb(66, 10, 83);
    font-size: 37px;
    position: fixed;
    top: 84%;
    left: 50%;
    padding: 10px 15px 10px 15px;
    background-color: white;
}