* {
    margin: 0;
}

.main {
    width: 100%;
    z-index: -1;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1) 100%), url(image1.png);
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(20, 134, 206, 0.08);
}

img {
    position: relative;
    top: 140px;
    left: 110px;
    margin: 0;
}