$bg-color:#FFC12D;
$borderCol:#F9B718;
$faCol:#A47503;
$fntcol:#2C3E50;
$bgCol1:#97E411;
$brdCol1:#7BC200;
$logobg1:#558502;
$bgCol2: #FD7761;
$brdCol2:#F55C43;
$logobg2:#D52E13;
$bgCol3:#6FD9FC;
$brdCol3:#47B4F6;
$logobg3:#0787D4;
$bgCol4: #A39CDC;
$brdCol4:#8781BD;
$logobg4:#5B568E;
$Xcol:#CFD2D3;
$bCol:#E2E6E7;
$txtCol1:#A1B1BC;
$x1Col:#B18009;
$x2Col:#558502;
$x3Col:#D52E13;
$x4Col:#0787D4;
$x5Col:#5B568E;