p {
    box-sizing: border-box;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(196, 195, 195);
    margin: 5px 0 5px;
    padding: 0;
}

img {
    vertical-align: middle;
}

.file {
    position: relative;
    bottom: 2px;
}

.first {
    border: 1px solid rgb(196, 195, 195);
    width: 385px;
    display: inline-block;
    margin: 10px 30px 0 10px;
    position: relative;
    left: 20px;
}

p {
    display: inline-block;
    line-height: 5px;
    margin-left: 5px;
    margin-top: 15px;
}

.margins {
    margin-top: 10px;
    margin-left: 15px;
}

h2 {
    font-weight: 100;
}

#user {
    width: 260px;
}

.icon {
    width: 32px;
    margin-left: 16px;
}

.left-icon {
    margin-left: 119px;
    margin-right: 5px;
}

.num {
    font-weight: 200;
    font-size: 1.1em;
}

.footer {
    margin: 30px 0 8px;
}